@model DailyDairyAuto.Models.CattleDatum

@{
    ViewData["Title"] = "Edit";
}
<div class="container-scroller">

    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">

                <div class="card">
                    <div class="card-body">


                        <div class="card-title">  <h1>Update Group</h1></div>

                        <h4 class="card-description">Group Data</h4>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <div class="form-group">
                <label asp-for="GrpAvgMilk" class="control-label"></label>
                <input asp-for="GrpAvgMilk" class="form-control" />
                <span asp-validation-for="GrpAvgMilk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCows" class="control-label"></label>
                <input asp-for="TotalCows" class="form-control" />
                <span asp-validation-for="TotalCows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Group" class="btn btn-primary" />
            </div>
                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
        </form>
    </div>
</div>


</div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
